@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(img/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(0, 100%, 74%);
    text-align: center;
    color: white;
}

main{
    max-width: 100%;
    min-height: 100vh;
    padding: 90px 0;
}

.header{
    
    margin-bottom: 67px;
}

h1{
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 23px;
    font-size: 28px;
    padding: 0 26px;
}

.header p{
    font-size: 16px;
    padding: 0 25px;
}

.trial{
 background-color: hsl(248, 32%, 49%);
 text-align: center;
margin: 0 25px;
padding: 18px 60px;
border-radius: 10px;
margin-bottom: 25px;
box-shadow: 0px 8px 0px #33333328;
cursor: pointer;
}

.trial a span{
    color: white;
    font-weight: 600;
}

.trial a {
    display: block;
    font-size: 14px;
color:  hsl(246, 25%, 77%);
text-decoration: none;
line-height: 1.8;
}

/* form styling*/

.form-container{
background-color: white;
margin: 0 25px;
border-radius: 10px;
padding: 20px 25px 0 25px;
box-shadow: 0px 8px 0px #3333331c;
}

.input-style{
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    padding: 18px 25px;
    border-radius: 5px;
   margin-top: 20px;
  border: 1px solid hsla(246, 25%, 77%, 0.747);
}

.input-style:focus{
    outline: 1px solid #333;
}

.icon{
    background-image: url(img/icon-error.svg);
    background-repeat: no-repeat;
   background-size: 20px;
  background-position: 390px;
}

button{
    border: none;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    padding: 17px 38px;
    background-color: hsl(154, 59%, 51%);
  border-radius: 5px;
  margin-top: 17px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 0px hsla(154, 68%, 39%, 0.856);
  cursor: pointer;
}

button:active , button:hover{
    background-color: hsla(154, 59%, 51%, 0.726);
}

.conditions{
    font-size: 10px;
    color: hsl(246, 25%, 77%);
    padding: 0 25px;
}

.conditions a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}

.warning{
    font-size: 11px;
    font-weight: 500;
    color: hsl(0, 100%, 74%);
    text-align: end;
    margin-top: 6px;
}

.warning-border{
   border: 2px solid hsl(0, 100%, 74%);
   color: hsl(0, 100%, 74%);
}


@media screen and (min-width:42.188rem) {
    
    body{
        background-image: url(img/bg-intro-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .header{
        text-align:start;
        margin-bottom: 0;
    }

    h1{
        font-size: 3rem;
    }

    button{
        margin-bottom: 1.3rem;
    }
    

    .conditions{
        font-size: 11px;
    }

    .form-container{
        padding-bottom: 1.5rem;
    }
}


@media screen and (min-width:76rem){
    main{
        padding: 7.7rem 8.3rem;
    }

    .form-container{
        padding-bottom: 2.5rem;
    }
}

